---
layout: post
---
<h3>Как нас слушать:</h3>
<p>Ищите "Зайду позже" в подкастоприёмниках или переходите по ссылкам:</p>
<a class="btn btn-default" href="https://podcasts.apple.com/us/podcast/%D0%B7%D0%B0%D0%B9%D0%B4%D1%83-%D0%BF%D0%BE%D0%B7%D0%B6%D0%B5/id1461711366">Apple</a>
<a class="btn btn-primary" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9ycGdiYXNlbWVudC54eXovcG9kY2FzdC96cC1mZWVkLnhtbA%3D%3D">Google</a>
<a class="btn btn-success" href="https://open.spotify.com/show/1xnWPuuDFEgA2XL3budRcI">Spotify</a>
<a class="btn btn-warning" href="https://music.yandex.ru/album/7570062">Yandex Музыка</a>
<a class="btn btn-danger" href="https://www.youtube.com/watch?v={{page.youtube}}&list=PLSAecosTApq54nJCp2CgtArThwdY0AyXC">YouTube</a>
<a class="btn btn-info" href="https://pod.wunderwaffla.vip{{ page.mp3 }}">Скачать .mp3</a>
<p>Или прямо здесь:</p>
<script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="http://rpgbasement.xyz/config.json"></script>
<!-- <p>Или прямо здесь:</p> -->
<!-- <div id="vk_podcast_-150522533_456239055"></div> -->
<!-- <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script> -->
<!-- <script type="text/javascript"> -->
<!--   (function() { -->
<!--     VK.Widgets.Podcast("vk_podcast_-150522533_456239055", "-150522533_456239055", 'f3b075f1d64128dfe5'); -->
<!--   }()); -->
<!-- </script> -->
{{content}}
<script src="/js/jquery-1.11.2.min.js"></script>
{% include open-embed.html %}
