---
layout: post
---
<h3>Как нас слушать:</h3>
<p>Ищите "Зайду позже" в подкастоприёмниках или переходите по ссылкам:</p>
<a class="btn btn-default" href="https://podcasts.apple.com/us/podcast/%D0%B7%D0%B0%D0%B9%D0%B4%D1%83-%D0%BF%D0%BE%D0%B7%D0%B6%D0%B5/id1461711366">Apple</a>
<a class="btn btn-primary" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9ycGdiYXNlbWVudC54eXovcG9kY2FzdC96cC1mZWVkLnhtbA%3D%3D">Google</a>
<a class="btn btn-success" href="https://open.spotify.com/show/1xnWPuuDFEgA2XL3budRcI">Spotify</a>
<a class="btn btn-warning" href="https://music.yandex.ru/album/7570062">Yandex Музыка</a>
<a class="btn btn-danger" href="https://www.youtube.com/watch?v={{page.youtube}}&list=PLSAecosTApq54nJCp2CgtArThwdY0AyXC">YouTube</a>
<a class="btn btn-info" href="{{ page.mp3 }}">Скачать .mp3</a>
{{content}}
<script src="/js/jquery-1.11.2.min.js"></script>
{% include open-embed.html %}
